.profilePage {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
}

.profilePage .profileInteractions {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.profileInteractions .profileButtons {
  display: flex;
  gap: 8px;
}

.profileButtons .messageBtn {
  /* display: block; */
  background-color: #e9e9e9;
  color: black;
  border-radius: 24px;
  padding: 14px 18px;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  width: max-content;
  border: none;
}
.profileButtons .saveBtn {
  /* display: block; */
  background-color: red;
  color: white;
  border-radius: 24px;
  padding: 14px 18px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: max-content;
  border: none;
}

.profileButtons .saveBtn:hover {
  background-color: darkred;
}

.profileButtons .messageBtn:hover {
  background-color: rgba(0, 0, 0, 0.123);
}

.profileOptions {
  display: flex;
  gap: 28px;
  margin-top: 48px;
  margin-bottom: 16px;
  cursor: pointer;
}

.profileOptions span {
  cursor: pointer;
  padding: 8px 0px;
  font-weight: 500;
}

.profileOptions span:hover {
  color: gray;
}

.active {
  border-bottom: 3px solid black;
}

.profileUsername {
  color: #0000009a;
  margin-top: 24px;
  font-size: 14px;
}

.followCounts {
  font-weight: 500;
  margin-bottom: 8px;
}
